# Arquivos de build do Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# Arquivos de IDEs
.idea/
*.iml
*.iws
*.ipr
out/
.vscode/
*.swp
*.bak
*.tmp
*.log

# Arquivos baixados pelo scraper
Downloads/

# Arquivos de sistema
.DS_Store
Thumbs.db

# Configurações locais
database.properties
!database.properties.example

# Documentos pra estudo
VISUALIZACAO_PDF_PROBLEMA.md
